__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

.ipynb_checkpoints/

data/
checkpoints/
*.pt
*.pth

outputs/
multirun/
.hydra/

wandb/

.DS_Store
.vscode/
.idea/

*.log
